<h1>Sign up!</h1>

<form action="/auth/signup" method="POST">
    <label for="new-email">Email:</label><br>
    <input id="new-email" type="email" name="email" required><br>
    <br>
    <label for="new-name">Name:</label><br>
    <input id="new-name" type="text" name="name" required><br>
    <br>
    <label for="new-password">Password:</label><br>
    <input id="new-password" type="password" name="password" required><br>
    <br>
    <lable for="new-age">Age:</lable><br>
    <input id="new-age" type="number" name="age" required>
    
    <input type="submit" value="Sign up">
</form>
  